/**
 *  Estilos generales del submódulo Pólizas masivas
 *  Author: Miguel Osbaldo Gallardo Toledo
 *  Fecha de inicio: 25/05/2018
 *  
 *  Estilos generales para el submódulo Pólizas masivas
 **/

.handsontable-container {
    z-index: 1 !important;
}

.card {
    /* Add shadows to create the "card" effect */
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Add some padding inside the card container */
.container {
    padding: 12px 20px;
}